.title {
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;
}

.subtitle {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #222222;
  text-align: center;
  margin-top: 20px;
}

.mobile {
  padding: 45px 0 80px 0;
  background: url(../img/bg/mobileBG.png) center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  width: 100%;
  height: 280px;
  margin: 0 auto;
  padding: 92px 27px 0 27px;
  position: relative;
  margin-bottom: 30px;
}

.mobile_item_1 {
  background: url(../img/bg/mobile_screen_1.jpg) center center/cover no-repeat;
}

.mobile_item_2 {
  background: url(../img/bg/mobile_screen_2.jpg) center center/cover no-repeat;
}

.mobile_item_3 {
  background: url(../img/bg/mobile_screen_3.jpg) center center/cover no-repeat;
}

.mobile_item_4 {
  background: url(../img/bg/mobile_screen_4.jpg) center center/cover no-repeat;
}

.mobile_item_5 {
  background: url(../img/bg/mobile_screen_5.jpg) center center/cover no-repeat;
}

.mobile_item_6 {
  background: url(../img/bg/mobile_screen_6.jpg) center center/cover no-repeat;
}

.mobile_item_text {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #4ce2ff;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobile_item_plus:after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #4ce2ff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5454;
}

.choice {
  padding: 56px 0 135px 0;
  background: url(../img/bg/mobileBG.png) center center/cover no-repeat;
  position: relative;
}

.choice .blackBlue {
  width: 100%;
  height: 499px;
  background-color: #070716;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.choice .label {
  position: relative;
  z-index: 2;
  background-color: #fff;
  color: #000;
}

.choice .title, .choice .subtitle {
  color: #fff;
  position: relative;
  z-index: 2;
}

.choice_img {
  display: block;
  position: relative;
  z-index: 2;
  margin: 55px auto 10px auto;
}

.choice_offer {
  text-align: center;
}

.requist {
  padding: 68px 0 83px 0;
}

.requist .title {
  margin-bottom: 32px;
}

.requist_title {
  font-size: 22px;
  font-weight: 400;
  color: #1ca8c3;
}

.requist_item {
  margin-top: 20px;
  list-style-type: none;
}

.requist_item li {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 15px;
  position: relative;
}

.requist_item li:before {
  content: "";
  width: 21px;
  height: 20px;
  background: url(../img/icon/check_blue.png) center center no-repeat;
  position: absolute;
  left: -33px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.requist_item li:hover:before {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.requist_item_descr {
  font-size: 17px;
  font-weight: 300;
  color: #1ca8c3;
}

.requist .warning .requist_title {
  color: #ff5454;
  margin-top: 60px;
  text-transform: uppercase;
}

.requist .warning .requist_item li:before {
  background: url(../img/icon/check_red.png) center center no-repeat;
}

.world {
  padding: 50px 0 46px 0;
  background: url(../img/bg/footer_mapBG.jpg) center center/cover no-repeat;
}

.world .label {
  background-color: #fff;
  color: #000;
}

.world .title, .world .subtitle {
  color: #fff;
}

.world a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #1ca8c3;
  text-align: center;
  margin-top: 450px;
  text-transform: uppercase;
}

footer {
  padding: 14px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerIcon {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .footerIcon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 50%;
  color: #fff;
  margin-right: 8px;
}

footer .footerMenu {
  width: 50%;
}

footer .footerMenu_line {
  width: 299px;
  height: 4px;
  background-color: #40a9c1;
  margin: 0 auto;
}

footer .footerMenu_link_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

footer .footerMenu_link_1 a {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  margin-left: 20px;
}

footer .footerMenu_link_1 a:first-child {
  margin-left: 0;
}

footer .footerMenu_link_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerMenu_link_2 a {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color: #999999;
  margin-left: 20px;
}

footer .footerMenu_link_2 a:first-child {
  margin-left: 0;
}

footer .footerMenu_lang {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #2ebfd9;
  margin-top: 15px;
  text-align: center;
}

footer .footerApp {
  width: 25%;
  text-align: right;
}

@media (max-width: 1200px) {
  .menu_link {
    font-size: 13px;
    padding-right: 19px;
  }
  .subheader_header {
    font-size: 50px;
  }
}

@media (max-width: 991px) {
  .menu_link {
    font-size: 10px;
    padding-right: 9px;
  }
  .logoBlock_img img {
    width: 100%;
  }
  .logoBlock_oficial {
    font-size: 12px;
  }
  .logoBlock_phone_link {
    font-size: 20px;
  }
  .logoBlock_btn {
    font-size: 13px;
  }
  .subheader_header {
    font-size: 40px;
  }
  .subheader_descr {
    font-size: 27px;
  }
  .advantage_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantage_item_icon {
    margin-bottom: 15px;
  }
  .advantage_item_text p {
    text-align: center;
  }
  .mobile_item_text {
    font-size: 20px;
  }
  .choice_img {
    width: 90%;
  }
  footer .footerMenu_link_2 a {
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  header nav {
    height: 52px;
  }
  header nav .hamburger {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header nav .hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  header nav .hamburger_active span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -2px;
  }
  header nav .hamburger_active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: -2px;
  }
  header nav .hamburger_active span:nth-child(3) {
    display: none;
  }
  header .menu {
    width: 50%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    padding: 0;
    -webkit-transition: .6s all;
    transition: .6s all;
  }
  header .menu_active {
    left: 0;
  }
  header .menu_item {
    margin-bottom: 11px;
    position: relative;
  }
  header .menu_item:after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  header .menu_link {
    font-size: 19px;
    border: none;
  }
  header .subheader_header {
    font-size: 35px;
  }
  header .subheader_descr {
    font-size: 22px;
    margin-top: 0;
  }
  header .subheader_text {
    margin-top: 0;
  }
  header .subheader_btn {
    margin-top: 100px;
  }
  .logoBlock_phone_text {
    display: none;
  }
  .logoBlock .mobile_btn {
    display: inline-block;
    padding: 10px 15px;
  }
  .logoBlock .lg_btn {
    display: none;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footerIcon {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footerMenu {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footerMenu_line {
    display: none;
  }
  footer .footerMenu_lang {
    display: none;
  }
  footer .footerApp {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
/*# sourceMappingURL=styleSCSS.css.map */